.basket-item {
    display: flex;
    justify-content: space-between;
    width: 1410px;
    height: 97px;
    background: #F4F4F4;
    margin-bottom: 30px;
  }
  
.basket-item-name {
    width: 500px;
    height: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    color: #000000;
    border: 2px solid #000000;
    background: #9D9D9D;
    margin-right: 40px;
}

.basket-item-option{
    width: 400px;
    height: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #000000;
    border: 2px solid #000000;
    background: #9D9D9D;
    margin-right: 40px;

}
.basket-item-quantity {
    width: 190px;
    height: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #000000;
    border: 2px solid #000000;
    background: #9D9D9D;
    margin-right: 40px;

}
.basket-item-price {
    width: 200px;
    height: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    background: #9D9D9D;
    border: 2px solid #000000;
}


  